@import "tailwindcss";

@theme {
  /* This maps Tailwind's utility classes to your custom variables */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-primary: var(--primary);
  --color-muted-foreground: var(--muted-foreground);
}

:root {
    --background: lab(2.75381% 0 0);  
    --foreground: oklch(85% 0.01 250);
    --muted-foreground: oklch(65% 0.01 250);
    --card-background: lab(7.78201% -.0000149012 0);
    --border: lab(100% 0 0/.1);
    --primary: oklch(60% 0.15 250)`;
    --radius: 0.5rem;

    --magenta: #F02AD4;
    --green: #22C55E;
    --orange: #F97316;
    --red: #EF4444; 

    --text-xs: 0.618rem;
    --text-sm: 0.809rem;
    --text-base: 1rem;
    --text-md: 1.618rem;
    --text-lg: 2.618rem;
    --text-xl: 4.236rem;
    --text-xxl: 6.854rem;


    /* LING HEIGHTS */
    --leading-golden: 1.618;
    --leading-tight: 1.2;

    /* PADDING AND MARGIN SPACING */
    --space-xs: 0.618rem;
    --space-sm: 1rem;
    --space-md: 1.618rem; /* The "Golden" Gutter */
    --space-lg: 2.618rem;
}

* {
    background-color: var(--background);
    font-family: var(--font-geist-sans);
}
