@import "tailwindcss";

@theme {
  /* This maps Tailwind's utility classes to your custom variables */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-primary: var(--primary);
  --color-muted-foreground: var(--muted-foreground);
}

:root {
  --background: oklch(14% 0.01 250);  
  --foreground: oklch(85% 0.01 250);
  --muted-foreground: oklch(65% 0.01 250);
  --border: oklch(25% 0.01 250);
  --primary: oklch(60% 0.15 250)`;
  --radius: 0.5rem;
}

* {
    background-color: var(--background);
    font-family: var(--font-geist-sans);
}
