
/* MOBILE */

.MetricsPageContainer {
    display: flex;
    flex-direction: column;
}

.MetricsDisplayContainer {
    display: flex;
    flex-direction: column;
}

.MetricsDisplayHero {
    display: flex;
    flex-direction: column;
    margin-top: var(--space-md);
}

.MetricsDisplayHeroPoster {
    width: 100%;
}

.MetricsDisplayHeroPoster img {
    -webkit-mask-image: linear-gradient(
        to bottom, 
        transparent 0%, 
        black 15%, 
        black 65%, 
        transparent 100%
      );
      mask-image: linear-gradient(
        to bottom, 
        transparent 0%, 
        black 15%, 
        black 65%, 
        transparent 100%
      );
}

.MetricsDisplayHeroMeta {
    display: flex;
    flex-direction: column;
    padding: var(--space-md) var(--space-sm) 0;
}

.MetricsDisplayHeroMetaTitle {
    color: var(--foreground);
    font-size: var(--text-lg);
    line-height: var(--leading-tight);
    font-weight: bold;
}

.MetricsDisplayHeroMetaLogistics {
    font-size: var(--text-sm);
    color: var(--muted-foreground);
    line-height: var(--leading-golden);
    letter-spacing: -0.01em;
    margin-top: var(--space-xs);
}

.MetricsDisplayHeroMetaPopularity {
    font-size: var(--text-sm);
    color: var(--muted-foreground);
    line-height: var(--leading-golden);
}

.MetricsDisplayHeroMetaOverview {
    color: var(--muted-foreground);
    font-size: var(--text-base);
    line-height: var(--leading-golden);
    padding: var(--space-sm) 0 var(--space-sm);
}

.MetricsDisplayHeroCardGridContainer {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-sm);
    justify-content: space-between;
    padding: 0 var(--space-sm) var(--space-md);
}

.MetricsDisplayCardContainer {
    background-color: var(--colo-background);
    border: 1px solid var(--border);
}

.MetricsDisplayCardHeader {
   background-color: inherit; 
}

.MetricsDisplayCardDescription {
    background-color: inherit;
    color: var(--muted-foreground);
    font-size: var(--text-xs);
}

.MetricsDisplayCardTitle {
    background-color: inherit;
    font-size: var(--text-md);
}

.MetricsDisplayGranularDataContainer {
    display: flex;
    flex-direction: column;
}

.MetricsDisplayRatingCardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--space-sm);
    padding: 0 var(--space-sm) var(--space-sm);
}

.MetricsDisplayLongRatingCardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-sm);
    padding: 0 var(--space-sm) 0;
}

.MetricsDisplayHelpLink {
    display: flex;
    justify-content: flex-start;
    color: #87CEEB;
    font-size: var(--text-sm);
    padding: var(--space-md) var(--space-sm) var(--space-md);
}

.MetricsDisplayHelpLink:hover {
    opacity: 0.8;
    cursor: pointer;
}

/* TABLETS */ 

@media (min-width: 768px) {

    .MetricsDisplayHeroCardGridContainer {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* SMALL DESKTOPS */

@media (min-width: 1024px) {

    .MetricsPageContainer {
        align-items: center;
    }

    .MetricsDisplayContainer {
        max-width: 1280px;
    }

    .MetricsDisplayGranularDataContainer {
        display: grid;
        grid-template-columns: 2fr 2fr;
    }

    .MetricsDisplayGranularCardContainer {
        display: grid;
        grid-template-rows: 1fr 2fr 2fr;
    }

    .MetricsDisplayLongRatingCardContainer {
        grid-template-columns: 1fr 1fr;
    } 

}

/* DESKTOPS+ */

@media (min-width: 1440px) {

}
